layout {
  tab name="code" {
    pane {
      command "nvim"
    }
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }

  tab name="dev" {
    pane split_direction="vertical" {
      pane
      pane split_direction="horizontal"{
        pane {
          command "lazydocker"
        }
        pane
      }
    }
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }
  tab name="git" {
    pane split_direction="vertical" {
      pane
      pane {
        command "lazygit"
      }
    }
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }
}
