/* ~/.config/ghostty/style.css */

/* Smaller tabbar */
tabbar {
  margin: -8px;
}

tabbar tabbox {
}

/* Custom tab styling */
tabbar tab {
  font-size: 12px;
}

/* Active tab highlight */
tabbar tab:checked {
  background: #3b4252;
  color: #eceff4;
}
